/* 商品导肮页面样式  */
.g-bd_tit b { font-weight:normal; }
.g-bd .m-pronav { margin:13px 10px 18px 10px; }
.g-bd .m-pronav .prolist { border-radius:5px; -webkit-border-radius:5px; overflow:hidden; }
.g-bd .m-pronav .prolist li .on { height:40px; display:block; padding-left:10px; line-height:40px; }
.g-bd .m-pronav .prolist li .down { height:40px; display:block; padding-left:10px; line-height:40px; }
.g-bd .m-pronav .prolist li .borderno { border:none; }
.g-bd .m-pronav .prolist li p { position:relative; }
.g-bd .m-pronav .prolist li p a { display:block; width:15%; height:40px; position:absolute; right:0; top:0; pointer-events:auto; }
.g-bd .m-pronav .prolist li p a:before { content:""; position:absolute; background:url(/mobile/images/web/href_icon.png) no-repeat; background-size:100%;  width:20px; height:20px; right:19px; top:12px; z-indx:10; -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
/*一列展现*/
.g-bd .m-pronav .list1, .g-bd .m-pronav .list2, .g-bd .m-pronav .list3 { display:none; }
.g-bd .m-pronav .list1 li { height:38px; line-height:38px; border-bottom:1px solid #e1e1e1; padding-left:33px; position:relative; white-space:nowrap; overflow:hidden; }
.g-bd .m-pronav .list1 li:before { content:""; overflow:hidden; position:absolute; left:20px; top:17px; z-index:7; width:0; height:0; border-width:3px; border-style:solid; transform:roate(45deg); -moz-transform:rotate(45deg); -webkit-transform:rotate(45deg); -o-transform:rotate(45deg); }
.g-bd .m-pronav .list1 li:after { content:""; overflow:hidden; position:absolute; left:20px; top:18px; z-index:8; width:0; height:0; border-width:2px; border-style:solid; transform:roate(45deg); -webkit-transform:rotate(45deg); -o-transform:rotate(45deg); }
/*2列展现*/
.g-bd .m-pronav .list2 li { width:49.9%; float:left; height:38px; line-height:38px; border-bottom:1px solid #e1e1e1; text-align:center;  white-space:nowrap; overflow:hidden;}
.g-bd .m-pronav .list3 li { width:33.2%; float:left; height:38px; line-height:38px; border-bottom:1px solid #e1e1e1; text-align:center; white-space:nowrap; overflow:hidden; }
/*三级分类*/
.g-bd .m-pronav .prolist li .a_tit { display: block; height:38px; line-height:38px; border-bottom:1px solid #e1e1e1; padding-left:33px; position:relative; }
.g-bd .m-pronav .prolist li .list1 ul { display:none; }
.g-bd .m-pronav .prolist .list1 .list2 li, .g-bd .m-pronav .prolist .list1 .list3 li { padding:0; }
.g-bd .m-pronav .prolist .list1 .list2 li:before, .g-bd .m-pronav .prolist .list1 .list3 li:before { display:none; }
.g-bd .m-pronav .prolist .list1 .list2 li:after, .g-bd .m-pronav .prolist .list1 .list3 li:before { display:none; }
.g-bd .m-pronav .prolist .list1 .a_tit:before { content:""; overflow:hidden; position:absolute; left:20px; top:17px; z-index:7; width:0; height:0; border-width:3px; border-style:solid; transform:roate(45deg); -moz-transform:rotate(45deg); -webkit-transform:rotate(45deg); -o-transform:rotate(45deg); }
.g-bd .m-pronav .prolist .list1 .a_tit:after { content:""; overflow:hidden; position:absolute; left:20px; top:18px; z-index:8; width:0; height:0; border-width:2px; border-style:solid; transform:roate(45deg); -webkit-transform:rotate(45deg); -o-transform:rotate(45deg); }
.g-bd .m-pronav .prolist .list1 .a_tit a:after{ background: #fbfbfb; width:14px; height:14px; right: 22px;}
.g-bd .m-pronav .prolist .list1 .a_tit a:before{width:14px; height:14px; right: 22px;}
/*图片产品分类*/
.g-bd .prolist_img li .tt_box { width:100%; padding:15px 0; }
.g-bd .prolist_img li .tt_box .img { float:left; margin:0 10px 0 20px; }
.g-bd .prolist_img li .tt_box h5 { line-height:30px; font-size:14px; }
.g-bd .prolist_img li .tt_box p { line-height:20px; font-size:80%; }
.g-bd .prolist_img .hideen_box { display:none; padding:0 10px; }
.g-bd .prolist_img .hideen_box:before { content:""; width:12px; height:5px; position:absolute; left:39px; top:-5px; }
.g-bd .prolist_img .hideen_box a li { text-align:center; border:none; }
.g-bd .prolist_img .hideen_box a li img { margin-top:14px; border-radius:20px; }
.g-bd .prolist_img .hideen_box a { width:59px; padding:0 8px; height:98px; display:inline-block; float:left; overflow:hidden; }
.g-bd .prolist_img .hideen_box a p { font-size:12px; line-height:22px; }
/* 产品列表页面一样式  */
.g-bd .m-con-1 {/* padding:15px 0 12px 0;*/ width:320px; margin:15px auto;}
.g-bd .m-con-1 a { float:left; width:132px; margin:0 14px 10px 14px; text-align:center; line-height:20px;  display:block; font-size:14px; }
.g-bd .m-con-1 span{ height:38px; clear:both; display:block; overflow:hidden;}
.g-bd .m-con-1 a img {  border:1px solid #e2e2e2; float:left; margin-bottom:8px; }
/* 产品列表页面二样式  */
.g-bd .m-con-2 { margin-bottom:26px; }
.g-bd .m-con-2 a{ display:block;}
.g-bd .m-con-2 dl { border-bottom:1px solid #ffffff; box-shadow:0 1px #e6e6e6; margin-bottom:2px; padding:12px 36px 12px 10px; position:relative; }
.g-bd .m-con-2 dt { float:left;display:block;border:1px solid #ccc; margin-right:11px; }
.g-bd .m-con-2 dt img { display:block;border:1px solid #e2e2e2;}
.g-bd .m-con-2 h3 { height: 24px; line-height: 24px; overflow: hidden; padding-right: 10px; }
.g-bd .m-con-2 p { font-size: 12px; height: 65px; line-height: 22px; margin:5px; margin-right:3%; overflow: hidden; }
.g-bd .m-con-2 .s-babg p span{ width: auto; height: auto; background: none; position: relative; right: inherit;top: inherit; display: inline;}
.g-bd .m-con-2 .s-babg p span:before,.g-bd .m-con-2 .s-babg p span:after{ display: none;}


/* 产品列表页面三样式  */
@media screen and (max-width: 1440px) { /*当屏幕尺寸小于1440px时，应用下面的CSS样式*/
  .g-prolistbox3 .content {-webkit-column-count:6;-moz-column-count:6;}
}
@media screen and (max-width: 1280px) { /*当屏幕尺寸小于1280px时，应用下面的CSS样式*/
  .g-prolistbox3 .content {-webkit-column-count:6;-moz-column-count:6;}
}
@media screen and (max-width: 1024px) { /*当屏幕尺寸小于1024px时，应用下面的CSS样式*/
  .g-prolistbox3 .content {-webkit-column-count:5;-moz-column-count:5;}
}
@media screen and (max-width: 960px) { /*当屏幕尺寸小于960px时，应用下面的CSS样式*/
  .g-prolistbox3 .content {-webkit-column-count:4;-moz-column-count:4;}
}
@media screen and (max-width: 720px) { /*当屏幕尺寸小于720px时，应用下面的CSS样式*/
  .g-prolistbox3 .content {-webkit-column-count:3;-moz-column-count:3;}
}
@media screen and (max-width: 400px) { /*当屏幕尺寸小于400px时，应用下面的CSS样式*/
  .g-prolistbox3 .content {-webkit-column-count:2;-moz-column-count:2;}
}
.g-prolistbox3 .content { margin:15px auto; text-align:center;column-gap:10px;-webkit-column-gap:10px;-moz-column-gap:10px;column-fill :balance;-webkit-column-fill:balance;-moz-column-fill :balance;}
.g-prolistbox3 .content div {  vertical-align:top; display:inline-block; margin-bottom:10px; text-align:center; line-height:20px; overflow:hidden; font-size:14px; }
.g-prolistbox3 .content i{ height:40px; line-height:20px; overflow:hidden; display:inline-block;}
.g-prolistbox3 .description{ color:#999;  display:block; height:40px; overflow:hidden;}
.g-prolistbox3 .content div img { border:1px solid #e2e2e2; margin-bottom:8px; display:block;}
