@charset "utf-8";








blockquote,








body,








dd,








div,








dl,








dt,








fieldset,








form,








h1,








h2,








h3,








h4,








h5,








h6,








html,








input,








li,








ol,








p,








pre,








span,








table,








td,








textarea,








th,








ul {








  margin: 0;








  padding: 0








}

















body {








  font-size: 16px;








  font-family: "Microsoft Yahei", Verdana, Arial, Helvetica, sans-serif;








  padding-top: 1px;








  background: #fff;








  max-width: 640px;








  min-width: 320px;








  margin: 0 auto;








}

















li,








ol {








  list-style: none








}

















ins {








  text-decoration: none








}

















em,








i {








  font-style: normal








}

















a {








  text-decoration: none;








  font-family: "Microsoft Yahei"








}

















a:hover {








  cursor: pointer;








  text-decoration: none








}

















a:active {








  star: expression(this.onFocus=this.blur())








}

















:focus {








  outline: 0








}

















.clear {








  clear: both;








  line-height: 0;








  overflow: hidden;








  zoom: 1;








  font-size: 0;








  content: '.'








}

















.clearfix:after {








  visibility: hidden;








  display: block;








  font-size: 0;








  content: " ";








  clear: both;








  height: 0








}

















img {








  padding: 0;








  margin: 0;








}

















a img {








  border: none








}

















input,








textarea {








  border: none;








  font-family: "Microsoft Yahei";








  font-size: 13px








}

















h1,








h2,








h3,








h4,








h5,








h6 {








  font-weight: 400;








  font-size: 1em








}

















.f-mm {








  margin-left: auto;








  margin-right: auto








}

















.f-fl {








  float: left








}

















.f-fr {








  float: right








}

















.f-tr {








  text-align: right








}

















.f-tl {








  text-align: left








}

















.f-tc {








  text-align: center;








  width: 90%;








  overflow: hidden;








  margin: auto;








}

















.f-pr {








  position: relative








}

















.f-di {








  display: inline








}

















.u-co-bt {








  border-radius: 4px;








  width: 80px;








  height: 26px;








  line-height: 26px;








  display: inline-block;








  vertical-align: middle;








  padding-top: 1px








}

















.u-co-bt.z-spe {








  width: 100%








}

















.u-lico {








  width: 24px;








  height: 24px;








  border-radius: 4px;








  background: #000;








  padding: 10px;








  opacity: .8;








  position: relative;








  left: 50%;








  margin: 10px 0 10px -14px;








  box-shadow: 0 0 3px #2d2d2d








}

















.fs15 {








  font-size: 15px








}

















.fs12 {








  font-size: 12px








}

















.pdr12 {








  padding-right: 12px








}

















.pl10 {








  padding-left: 10px








}

















.red {








  color: red








}

















.emptyData {








  padding-left: 10px;








  line-height: 26px








}

















.wrap {








  max-width: 640px;








  min-width: 320px;








  margin: 0 auto;








  overflow: hidden;








  position: relative;








  background: #fff








}

















.g-back {








  overflow: hidden;








  position: relative;








  text-align: right;








  margin-top: 1px;








  height: 38px;








  padding: 7px 11px 0 9px








}

















.g-back a {








  display: inline-block;








  font-size: .875em;








  height: 32px;








  line-height: 28px;








  width: 32px;








  position: relative








}

















.g-back .u-bp {








  background-position: 0 0








}

















.g-back .u-bl {








  background-position: 0 -286px








}

















.g-back .u-bh {








  margin-right: 10px;








  background-position: 0 -232px








}

















.u-empty {








  height: 18px








}

















.g-page .u-pne,








.g-page .u-pup,








.g-page .u-sa {








  border-radius: 5px;








  display: inline-block;








  font-size: 1em;








  height: 30px;








  line-height: 30px;








  text-align: center;








  width: 25%








}








.g-page li{float:left;width:auto;}








.g-page p {








  width: 10%;








  display: inline-block








}

















.g-page .pager-select {








  display: inline-block;








  padding: 0 20px;








  margin: 0 10px;








  width: 10%;








  height: 30px;








  line-height: 30px;








  position: relative;








  top: 10px








}

















.g-page .page_number {








  position: absolute;








  left: 0;








  top: 0;








  width: 100%;








  height: 100%;








  pointer-events: none;








  border-radius: 5px;








  box-shadow: 0 0 5px #333 inset;








  text-indent: -1em








}

















.g-page .page_number:before {








  width: 0;








  height: 0;








  content: "";








  position: absolute;








  border-top: 5px solid #aaa;








  border-left: 5px solid transparent;








  border-right: 5px solid transparent;








  left: 50%;








  margin-left: 15px;








  top: 12px








}

















.g-page .pager-select .page_number span {








  padding: 0 2px;








  font-weight: 700








}

















.g-page .select_box {








  width: 100%;








  height: 100%;








  opacity: 0;








  position: absolute;








  z-index: 0;








  left: 0;








  top: 0;








  text-align: center








}

















.g-sbox .spe2 p a:first-child {








  border-top: 0








}

















.g-sbox .m-con .u-lifo {








  display: block;








  padding: 13px 35px 0 10px;








  height: 113px;








  overflow: hidden;








  position: relative








}

















.g-sbox .m-con .u-lifo img {








  float: left;








  display: inline;








  margin-right: 11px








}

















.g-sbox .m-con .u-lifo h3 {








  padding-right: 10px;








  line-height: 24px;








  height: 24px;








  overflow: hidden;








  white-space: nowrap








}

















.g-sbox .m-con .u-lifo p {








  margin: 5px;








  font-size: 12px;








  line-height: 22px;








  height: 65px;








  overflow: hidden








}

















.g-bd .m-con-2 dl span,








.g-sbox .m-con .u-lifo span {








  display: block;








  width: 9px;








  height: 16px;








  position: absolute;








  top: 57px;








  right: 3%








}

















.g-bd .m-con-2 dl span:before,








.g-bd .m-con.z-spe dl span:before,








.g-sbox .m-con .u-lifo span:before {








  content: "";








  position: absolute;








  background: #aaa;








  width: 11px;








  height: 11px;








  right: 0;








  top: 0;








  z-index: 10;








  -moz-transform: rotate(45deg);








  -o-transform: rotate(45deg);








  -webkit-transform: rotate(45deg);








  transform: rotate(45deg)








}

















.g-bd .m-con-2 dl span:after,








.g-bd .m-con.z-spe dl span:after,








.g-sbox .m-con .u-lifo span:after {








  content: "";








  position: absolute;








  background: #fff;








  width: 11px;








  height: 11px;








  right: 4px;








  top: 0;








  z-index: 11;








  -moz-transform: rotate(45deg);








  -o-transform: rotate(45deg);








  -webkit-transform: rotate(45deg);








  transform: rotate(45deg);








}

















.g-bd .m-con-2 .s-babg:nth-child(2n) span:after,








.g-bd .m-con.z-spe .s-babg:nth-child(2n) span:after,








.g-sbox .m-con .s-babg:nth-child(2n) span:after {








  background: #fafafa








}

















.g-sbox .m-con.z-spe {








  padding: 5px;








  width: 310px;








  line-height: 22px








}

















.g-sbox .m-con.z-spe a {








  font-size: 14px;








  height: 33px;








  display: block;








  line-height: 33px;








  text-indent: 8px;








  width: 100%;








  overflow: hidden








}

















.m-btit {








  line-height: 35px;








  padding-left: 12px;








  overflow: hidden;








  white-space: nowrap;








  text-overflow: ellipsis;








  border-top: 1px solid #d9d9d9;








  box-shadow: 0 1px #fff;








  position: relative;








  background-color: #f6f6f6;








  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));








  background-image: -webkit-linear-gradient(top, #f6f6f6, #eaeaea);








  background-image: -moz-linear-gradient(top, #f6f6f6, #eaeaea);








  background-image: -o-linear-gradient(top, #f6f6f6, #eaeaea);








  background-image: -ms-linear-gradient(top, #f6f6f6, #eaeaea);








  background-image: linear-gradient(top, #f6f6f6, #eaeaea);








  border-bottom: 1px solid #d9d9d9








}

















.m-btit:before {








  content: "";








  position: absolute;








  left: 0;








  top: 0;








  width: 100%;








  border-top: 1px solid #fff








}

















.m-btit span {








  padding: 0 8px;








  position: relative;








  height: 100%;








  top: -12px;








  display: inline-block








}

















.m-btit span:before {








  content: "";








  position: absolute;








  background: #7c7c7c;








  width: 8px;








  height: 8px;








  left: 2px;








  top: 3px;








  z-index: 10;








  -moz-transform: rotate(45deg);








  -o-transform: rotate(45deg);








  -webkit-transform: rotate(45deg);








  transform: rotate(45deg)








}

















.m-btit span:after {








  content: "";








  position: absolute;








  width: 8px;








  height: 8px;








  left: 1px;








  top: 3px;








  z-index: 11;








  background-color: #f2f2f2;








  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#eee));








  background-image: -webkit-linear-gradient(top, #f2f2f2, #eee);








  background-image: -moz-linear-gradient(top, #f2f2f2, #eee);








  background-image: -o-linear-gradient(top, #f2f2f2, #eee);








  background-image: -ms-linear-gradient(top, #f2f2f2, #eee);








  background-image: linear-gradient(top, #f2f2f2, #eee);








  -moz-transform: rotate(45deg);








  -o-transform: rotate(45deg);








  -webkit-transform: rotate(45deg);








  transform: rotate(45deg)








}

















.max_bg div {








  opacity: .8;








  border-radius: 5px;








  opacity: 1;








  width: 290px;








  border-width: 5px;








  height: 46px;








  font-size: 13px;








  padding: 28px 0;








  margin: 40px auto;








  line-height: 25px








}

















.max_bg div a {








  text-decoration: underline;








  margin-right: 12px;








  line-height: 30px








}

















.max_bg {








  width: 100%;








  position: absolute;








  left: 0;








  top: 0;








  z-index: 100








}

















.max_bg div {








  opacity: .8;








  display: none;








  border-radius: 5px;








  opacity: 1;








  width: 290px;








  border-width: 5px;








  position: fixed;








  top: 50%;








  left: 50%;








  margin: -56px 0 0 -150px;








  height: 46px;








  font-size: 13px;








  padding: 28px 0;








  z-index: 101








}

















.max_bg div a {








  text-decoration: underline;








  margin-right: 12px;








  line-height: 30px








}

















.max_bg .right {








  line-height: 25px;








  background-position: 17px -1351px;








  text-align: center








}

















.max_bg .wrong {








  background-position: 17px -1426px








}

















.max_bg .contapic_bg {








  width: 100%;








  height: 100%;








  margin: 0 auto;








  background: #000;








  left: 0;








  top: 0;








  opacity: .7;








  filter: alpha(opacity=70);








  z-index: 1








}

















.g-prn .m-con {








  line-height: 40px;








  margin: 5px 12px 10px 12px;








  font-size: 14px








}

















.g-prn .m-con p:first-child {








  border-top: 0








}

















.g-prn .m-con p:last-child {








  border-bottom: 0








}

















.g-prn .m-con p {








  height: 32px;








  line-height: 32px;








  overflow: hidden








}

















.g-prn .m-con a {








  padding: 0 8px;








  font-size: 14px;








  white-space: nowrap








}

















.erro {








  padding-bottom: 40px








}

















.erro .icon_404 {








  padding: 20px 0 10px 0








}

















.erro p.en {








  font-size: 24px;








  margin: 10px 0 15px 0;








  text-align: center;








  line-height: 35px








}

















.erro p.cn {








  font-size: 13px;








  width: 300px;








  padding-left: 20px;








  line-height: 26px;








  margin: 10px auto








}

















.erro p a {








  font-size: 13px








}

















@keyframes xshow {








  0% {








    opacity: 0








  }








  25% {








    opacity: 1








  }








  50% {








    opacity: 0








  }








  75% {








    opacity: 1








  }








  100% {








    opacity: 0








  }








}

















@-webkit-keyframes xshow {








  0% {








    opacity: 0








  }








  25% {








    opacity: 1








  }








  50% {








    opacity: 0








  }








  75% {








    opacity: 1








  }








  100% {








    opacity: 0








  }








}

















@keyframes xshow2 {








  0% {








    opacity: 0








  }








  20% {








    opacity: 1








  }








  40% {








    opacity: 0








  }








  60% {








    opacity: 1








  }








  80% {








    opacity: 0








  }








  100% {








    opacity: 0








  }








}

















@-webkit-keyframes xshow2 {








  0% {








    opacity: 0








  }








  25% {








    opacity: 1








  }








  50% {








    opacity: 0








  }








  75% {








    opacity: 1








  }








  100% {








    opacity: 0








  }








}

















@-webkit-keyframes buttonHover {








  0% {








    box-shadow: 0 0 5px grey








  }








  50% {








    box-shadow: 0 0 12px grey








  }








  100% {








    box-shadow: 0 0 5px grey








  }








}

















@keyframes buttonHover {








  0% {








    box-shadow: 0 0 5px grey








  }








  50% {








    box-shadow: 0 0 12px grey








  }








  100% {








    box-shadow: 0 0 5px grey








  }








}

















.u-mbg {








  height: 100%;








  width: 100%;








  background: #000;








  -moz-opacity: .6;








  -webkit-opacity: .6;








  opacity: .6;








  position: fixed;








  left: 0;








  top: 0;








  z-index: 555;








  display: none








}

















.u-dwnav {








  position: fixed;








  bottom: 30px;








  left: 30px;








  z-index: 666;








  padding: 15px








}

















.u-dwnav .ico {








  width: 40px;








  height: 40px;








  background: #652C7F;








  border-radius: 25px;








  border: 4px solid #fff;








  -moz-box-shadow: 0 0 0 2px #ececec;








  -webkit-box-shadow: 0 0 0 2px #ececec;








  box-shadow: 0 0 0 2px #ececec








}

















.u-dwnav .ico.z-gray {








  background: grey








}

















.u-dwnav .ico p {








  padding: 10px;








  width: 30px








}

















.u-dwnav .ico i {








  width: 5px;








  height: 5px;








  background: #fff;








  border-bottom: 1px solid #13322f;








  display: block;








  float: left;








  margin-right: 3px;








  margin-bottom: 2px








}

















.u-popup {








  width: 155px;








  height: 155px;








  border-radius: 85px;








  position: fixed;








  bottom: 100px;








  left: 80px;








  background: #eaeaea;








  border: 6px solid #f2f2f2;








  box-shadow: inset 0 3px 3px #babcbb;








  z-index: 666;








  display: none








}

















.u-popup .midline {








  background: url(../Images/Index/midline.png) no-repeat left center;








  width: 150px;








  height: 155px;








  background-size: 100%;








  padding-left: 5px








}

















.u-popup .midline a {








  display: inline-block;








  text-align: center;








  width: 75px;








  float: left;








  height: 40px;








  padding-top: 25px;








  font-size: 10px








}

















.g-se {








  padding: 15px 10px;








  position: relative








}

















.g-se .m-ipt {








  margin-right: 43px








}

















.g-se .u-glass {








  position: absolute;








  right: 10px;








  top: 15px;








  width: 42px;








  height: 30px;








  background: 0 0;








  z-index: 888








}

















.g-se .u-bt {








  width: 42px;








  height: 30px;








  float: right;








  border-radius: 0 4px 4px 0;








  -webkit-border-radius: 0 4px 4px 0;








  position: relative








}

















.g-se .u-bt:before {








  content: '';








  display: block;








  width: 12px;








  height: 12px;








  border-radius: 17px;








  position: absolute;








  right: 14px;








  top: 5px;








  z-index: 99








}

















.g-se .u-bt:after {








  content: '';








  display: block;








  width: 4px;








  height: 10px;








  border-radius: 5px;








  border: 0;








  position: absolute;








  right: 12px;








  top: 16px;








  z-index: 99;








  -webkit-transform: rotate(-52deg);








  -o-transform: rotate(-52deg);








  -ms-transform: rotate(-52deg);








  transform: rotate(-52deg)








}

















.g-se .u-in {








  float: right;








  position: absolute;








  z-index: 100;








  right: 10px;








  top: 15px;








  width: 42px;








  height: 30px








}

















.g-se .u-key {








  width: 100%;








  height: 14px;








  padding: 7px 0;








  line-height: 14px;








  border-right: 0;








  border-bottom-left-radius: 5px;








  border-top-left-radius: 5px;








  border-bottom-right-radius: 0;








  border-top-right-radius: 0;








  -webkit-border-top-left-radius: 5px;








  -webkit-border-bottom-left-radius: 5px;








  -webkit-border-top-right-radius: 0;








  -webkit-border-bottom-right-radius: 0;








  text-indent: 15px;








  float: left








}

















.page p a img {








  width: 100%;








  height: 9.5em;








}

















.j-slide-not {








  height: auto








}

















#content * {








  max-width: 100%;








  width: auto!important;








  height: auto;








  ;








}


























.iphone_tel {}


























/*2016-3-31*/

















.zk11_top {








  width: 100%;








  margin-top: 0.3em;








  text-align: center;








  margin-bottom: 3em;








  border-top: 1px solid #f6f6f6;








  font-size: 90%;








  color: #999;








  line-height: 2.5em;








  position: relative;








}








.tip{ text-align:center; font-size:1em; color:#FFF; background-color:#E01010; height:1.6em; line-height:1.6em;}















.header .tphone{ float:right; padding-left:1.3em; background:url(../images/Common/tphone.png) no-repeat left center; background-size:1em; font-size:1.2em; color:#E01010; margin-top:35px; margin-right:30px;}





.rback{ overflow:hidden; padding:0.8em; margin-bottom:6em;}





.rback ul{}





.rback li{ font-size:1em; line-height:1.5em; color:#666;}





.rback li a{ font-size:1.2em; color:#E01010;}





.rback .rt{}





.rback .rt img{ display:block; width:5em;}








.fl {


    float: left;


    display: inline;


}


.fr {


    float: right;


    display: inline;


}








.zk11_top a {








  position: absolute;








  right: 1%;








  width: 7.5%;








}

















.zk11_top a img {








  width: 100%;








  vertical-align: inherit;








  margin-top: 0.15em;








}

















/*必须放在最后面*/








@media screen and (min-width:320px) {





	body{font-size:75%;}





}





@media screen and (min-width:375px) {





	





}





@media screen and (min-width:480px) {





	





}





@media screen and (min-width:540px) {





	body{font-size:112.5%;}





}





@media screen and (min-width:550px) {





	body{font-size:125%;}





}





@media screen and (min-width:640px) {











	body{font-size:150%;}





}